<!DOCTYPE html>
<html lang="en">
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL01 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL01}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG01 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG01}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL02 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL02}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG02 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG02}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL03 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL03}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG03 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG03}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL04 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL04}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG04 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG04}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL05 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL05}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG05 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG05}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL06 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL06}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG06 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG06}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL07 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL07}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG07 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG07}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL08 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL08}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG08 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG08}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL09 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL09}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG09 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG09}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL10 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL10}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG10 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG10}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL11 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL11}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG11 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG11}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL12 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL12}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG12 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG12}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL13 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL13}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG13 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG13}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL14 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL14}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG14 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG14}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL15 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL15}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG15 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG15}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL16 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL16}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG16 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG16}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL17 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL17}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG17 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG17}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL18 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL18}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG18 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG18}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL19 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL19}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG19 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG19}" alt="Card image">
  </th:block>
</div>
<div class="d-flex justify-content-between align-items-center">
  <th:block th:if="${recipeDTO.MANUAL20 !=''}">
    <h5 class="col-6 mb-3" th:text="${recipeDTO.MANUAL20}"></h5>
  </th:block>

  <th:block th:if="${recipeDTO.MANUAL_IMG20 !=''}">
    <img class="col-6 ms-3 mb-3" th:src="${recipeDTO.MANUAL_IMG20}" alt="Card image">
  </th:block>
</div>
